{% extends 'base.html' %} 

{%block title %}Inicio{% endblock %}

{% block banner %}
<br>
<h2 class="tituloNosotros">Nuestra Historia</h2>
<br>
<div class="containerNosotros_Uno">
    <div class="tarjeta_uno">
		
<p class="parrafo_uno">Somos unos pequeños emprendedores en busca de mejorar nuestra calidad de vida, 
	mejorando a su ves la de los démas.
	</p>
	</div>
</div>
<br>
<div class="containerNosotros_Uno">
	<div class="tarjeta_uno">
	<p class="parrafo_uno">
		Nuestros productos son de la mejor calidad, traidos desde los mejores y mas reconditos lugares para que lo puedan disfrutar nuestros clientes!
	</p>
	</div>
</div>
<br>
<div class= "containerNosotros_Uno">
	<div class="tarjeta_uno">
	<p class="parrafo_uno">
		sfgdfsgdfsgfsdg
	</p>
	</div>
</div>
<br>
<div class= "containerNosotros_Uno">
	<div class="tarjeta_uno">
	<p class="parrafo_uno">
		sfgdfsgdfsgfsdg1111232123213213
	</p>
	</div>
</div>

{% endblock %}